/.idea
/.vscode
**/checkpoint*/
**/__pycache__/
**/generated*/
**/wandb/
**/full_model.pth
/rubbish
**/*cache*
/workspace/classinput/Qwen25llm/
test_*
.slurm
experiments/bipedal_walker/dataset/
CLAUDE.md
run_test_mode.sh